<!DOCTYPE html>
<html>
<head>
  <title>Catchphrase.ly</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/underscore/underscore-min.js"></script>
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/stylesheet/app.css">
  <script src="/static/javascript/app.js"></script>

</head>
<body>
  <div class="container" id="page-wrapper">
    <div class="bg"></div>
      <div class="jumbotron">
        <header class="home-page-header">
          <h1 class="catch-title">Catchphrase.ly</h1>
        </header>
      </div>
      <form class="form-inline" id="new-phrase-form">
        <input name="word" type="text" class="form-control" id="new-word-input" placeholder="Word">
        <textarea name="definition" type="text" class="form-control" id="definition-input"
        rows="1" placeholder="Definition"></textarea>
        <button type="submit" class="btn btn-primary btn-lg active" data-toggle="tooltip"
            data-placement="top" title="Add new word!">Add</button>
        <button type="submit" class="btn btn-primary btn-lg active" disabled="disabled">Play!</button>
      </form>
      <div class="phrases-body">
        <ul class="list-group" id="phrase-ul">
        </ul>
      </div>
    </div>
  </div>

  <!-- Page Template -->
  <script type="text/template" id="phrases-template">
    <li>
      <div class="panel panel-default panel-group" role="tablist" aria-multiselectable="true">
        <div class="panel-heading">

          <!-- Add button -->
          <button class="btn btn-primary" id="btn-word" type="button" data-toggle="collapse" data-target="#collapseThis<%= _id %>"
          data-parent="#selector" aria-expanded="false" aria-controls="collapseThis">
            <h4 class="panel-title"><%= word %></h4>
          </button>

          <!--Delete button -->
          <button data-_id="<%= _id %>" onclick="deletePhrase(this)" type="button" data-toggle="tooltip"
          data-placement="bottom" title="Delete" class="close">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
          </button>
        </div>
        <div class="panel-body collapse" id="collapseThis<%= _id %>">

          <!-- Edit button -->
          <button data-_id="<%= _id %>" onclick="" data-toggle="modal" type="button" class="edit pull-right btn-link"
          data-target="#editModal<%= _id %>" data-whatever="<%= _id %>">
              <span class="glyphicon glyphicon-edit" aria-hidden="false"></span>
          </button>

          <%= definition %>
        </div>
      </div>
    </li>

    <!-- Edit Modal -->
    <div class="modal fade" id="editModal<%= _id %>" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="editModalLabel"><%= word %></h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="message-text" class="control-label">Definition:</label>
                <textarea class="form-control" id="message-text" rows="4"><%= definition %></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" disabled="disabled">Save</button>
          </div>
        </div>
      </div>
    </div>
  </script>
</body>
</html>